n8n_workflow.json
{
  "name": "Cafe CI/CD Tests",
  "nodes": [
    {
      "parameters": {
        "repository": "Cafe",
        "owner": "CBElmer28",
        "events": [
          "push"
        ]
      },
      "id": "github-trigger-id",
      "name": "GitHub Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "command": "docker run --rm -v c:/Users/User/Desktop/Cafe/backend:/var/www/html -w /var/www/html lorisleiva/laravel-docker:8.2 sh -c \"if [ ! -d vendor ]; then composer install --no-interaction --prefer-dist; fi && php artisan test\""
      },
      "id": "execute-command-id",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        300,
        300
      ],
      "settings": {
        "onError": "continueRegularOutput"
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-node-id",
      "name": "If Tests Passed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toString() }}",
            "Commit": "={{ $('GitHub Trigger').item.json.body.head_commit.id.substring(0, 7) }}",
            "Message": "={{ $('GitHub Trigger').item.json.body.head_commit.message }}",
            "Author": "={{ $('GitHub Trigger').item.json.body.head_commit.author.name }}",
            "Result": "SUCCESS"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "google-sheets-success-id",
      "name": "Google Sheets Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        750,
        150
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toString() }}",
            "Commit": "={{ $('GitHub Trigger').item.json.body.head_commit.id.substring(0, 7) }}",
            "Message": "={{ $('GitHub Trigger').item.json.body.head_commit.message }}",
            "Author": "={{ $('GitHub Trigger').item.json.body.head_commit.author.name }}",
            "Result": "FAIL"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "google-sheets-failure-id",
      "name": "Google Sheets Failure",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        750,
        450
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8838260795",
        "text": "=🚨 *¡Las pruebas de Cafe han fallado!* 🚨\n\nEl último commit no pasó los tests de integración.\n\n*Logs de error:*\n```\n{{ ($json.stderr || $json.stdout || '').slice(0, 3000) }}\n```",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-node-id",
      "name": "Telegram Alerta",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1000,
        550
      ]
    },
    {
      "parameters": {
        "owner": "CBElmer28",
        "repository": "Cafe",
        "title": "={{ (() => { const stdout = $json.stdout || ''; const summaryMatch = stdout.match(/Tests:\\s+(\\d+\\s+failed[^\\n]*)/); const summary = summaryMatch ? summaryMatch[1].trim() : 'Tests failed'; const failedMatch = stdout.match(/FAILED\\s+([^\\n]+)/); const detail = failedMatch ? ' (' + failedMatch[1].trim() + ')' : ''; return '🚨 CI/CD Failure: ' + summary + detail; })() }}",
        "body": "=Las pruebas automatizadas del proyecto Cafe fallaron en el último push.\n\n**Detalles del error:**\n```\n{{ ($json.stderr || $json.stdout || '').slice(0, 5000) }}\n```"
      },
      "id": "github-issue-id",
      "name": "GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1000,
        350
      ]
    }
  ],
  "connections": {
    "GitHub Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "If Tests Passed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Tests Passed": {
      "main": [
        [
          {
            "node": "Google Sheets Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets Failure",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Issue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
